# This is a test .env file for pw log uploader
LOG_URL="http://env-url.com/logs"
AUTH_TOKEN="123456"
DEVICE_ID=999
TRAFFIC_METHOD="proxy"
LOG_FILE="/tmp/etc/PW_DIRECTORY/acl/default/TCP.log"
# DEBUG=true
